  
   @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Carter+One|Days+One|Righteous|Oswald');
   /**************************
   Common sets
   ***************************/
   *{  
       margin:0;
       padding:0;       
       box-sizing: border-box;       
       text-align:center;  
       background: rgb(155, 241, 237);    
   }
   header{
       font-family: 'Righteous',sans-serif;
       display:block;
       position: fixed;
       top:0;
       left:0;
       width:100%;
       font-size:25px;
       background:rgb(17, 228, 210);
       padding: 10px;
       text-shadow:2px 2px 5px rgb(11, 121, 111);
       box-shadow: 0px 2px 20px #000;
   }
   main{
      
       display:flex;
       flex-direction:row;
       justify-content:center;
       margin:80px auto;
       width:80%;       
       flex-wrap:wrap;
   }
   
   .trans{
       display:block;
       margin: 5px;
       width: 48%;
       height:auto;       
       border-radius: 20px;
       box-shadow: 2px 2px 10px #000;
       background:rgb(149, 216, 216); 
       
   }
   .trans .header{
       background:rgb(149, 216, 216);       
       width:100%;
       padding:5px;
       border-bottom: 1px solid rgb(37, 136, 131);
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
       font-family: 'Righteous',sans-serif;
       font-size: 20px;
       text-shadow: 3px 3px 10px rgb(8, 118, 133);
   }
   .trans .content{
       background:rgb(149, 214, 216);
       display:flex;
       flex-wrap:wrap;
       padding:15px;
      
       font-size:15px;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
   }
   .trans .content div{
       font-family: 'Oswald',sans-serif;
       font-size:1.5em;
       background: rgb(180, 234, 238);
       width:48%;
        box-shadow: 1px 1px 10px #000;     
       border-radius: 10px;
       margin-top:2px;
       margin-left:2px;
       padding:5px; 
       text-align: left;      
   }
   .trans .content div:hover{
       font-size: 1.9em;
     
   }
   footer{
       font-family: 'Times New Roman', Times, serif;
       font-size: 15px;
       display:block;
       width:100%;
       background:#aaa;
       padding: 15px;
       box-shadow: 0px -2px 20px #000;
   }
   @media screen and (max-width:720px){
       main{
           margin-top:100px;
          width:100%;
          flex-direction: column;
          align-items: center;
       }
       .trans{
           width:95%;
       }
   }
  